<p id="notice"><%= notice %></p>

<h1 class="text-center">Users</h1>
<table class="table table-bordered table-striped table-hover" id="users-datatable" data-source="<%= users_path(format: :json) %>">
  <thead>
  <tr>
    <th class="text-center">ID</th>
    <th class="text-center">Name</th>
    <th class="text-center">Phone</th>
    <th class="text-center">Location</th>
    
  </tr>
  </thead>
  <tbody class="text-center">
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<script>
    jQuery(document).ready(function() {
        $('#users-datatable').dataTable({
            "processing": true,
            "serverSide": true,
            "columnDefs": [{ "orderable": false, "targets": -1 }],
            "ajax": $('#users-datatable').data('source'),
            "pagingType": "full_numbers",
            "columns": [
                {"data": "id"},
                {"data": "name"},
                {"data": "phone"},
                {"data": "location"}
                
                
            ]
        });
    });
</script>

